# A simple rewrite to redirect to .php variants
<IfModule mod_rewrite.c>
    RewriteCond %{HTTP_HOST} !^keywordcms-oo\.bronstrup\.com$ [NC]
    RewriteRule ^(.*)$ http://keywordcms-oo.bronstrup.com/$1 [L,R=301]

    RewriteCond %{REQUEST_FILENAME} !-f [OR]
    RewriteCond %{REQUEST_FILENAME} !^\.php$
    RewriteCond %{REQUEST_FILENAME} !^/inc/kcms\.php$
    RewriteRule ^(.*)$ inc/kcms.php [L,QSA]
</IfModule>

# A few caching defaults
<ifModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/gif "access plus 1 months"
    ExpiresByType image/jpg "access plus 1 months"
    ExpiresByType image/jpeg "access plus 1 months"
    ExpiresByType image/png "access plus 1 months"
    ExpiresByType application/javascript "now plus 1 months"
    ExpiresByType application/x-javascript "now plus 1 months"
    ExpiresByType text/javascript "now plus 1 months"
    ExpiresByType text/css "now plus 1 months"
    ExpiresDefault "access plus 1 days"
</IfModule>
